# import libraries and dataframes

In [1]:
import pandas as pd
import numpy as np
import os

In [4]:
path = r'/Users/alisoncoolidge/Desktop/092022 Instacart Basket Analysis'

df_ords = pd.read_csv(os.path.join(path, '02 Data', 'Prepared Data', 'orders_checked_and_wrangled.csv'), index_col = False)
df_prods = pd.read_csv(os.path.join(path, '02 Data', 'Prepared Data', 'products_checked.csv'), index_col = False)
df_ords_prior = pd.read_csv(os.path.join(path, '02 Data', 'Original Data', 'order_products_prior.csv'), index_col = False)

In [5]:
# checking df_ords_prior

df_ords_prior.head()

   order_id  product_id  add_to_cart_order  reordered
0         2       33120                  1          1
1         2       28985                  2          1
2         2        9327                  3          0
3         2       45918                  4          1
4         2       30035                  5          0

In [6]:
# checking shape
df_ords_prior.shape

(32434489, 4)

In [7]:
# checking ords shape
df_ords.shape

(3421083, 8)

In [8]:
# checking prods shape
df_prods.shape

(49672, 6)

In [9]:
# merging ords and ords_prior
df_merged_large = df_ords.merge(df_ords_prior, on = 'order_id', indicator = True)

In [11]:
# checking head
df_merged_large.head()

,Unnamed: 0.1,Unnamed: 0,order_id,user_id,order_number,order_day_of_week,order_hour_of_day,days_since_prior_order,product_id,add_to_cart_order,reordered,_merge
0,0,0,2539329,1,1,2,8,NaN,196,1,0,both
1,0,0,2539329,1,1,2,8,NaN,14084,2,0,both
2,0,0,2539329,1,1,2,8,NaN,12427,3,0,both
3,0,0,2539329,1,1,2,8,NaN,26088,4,0,both
4,0,0,2539329,1,1,2,8,NaN,26405,5,0,both

In [12]:
# checking shape
df_merged_large.shape

(32434489, 12)

In [13]:
# checking value count
df_merged_large['_merge'].value_counts()

both          32434489
left_only            0
right_only           0
Name: _merge, dtype: int64

# TASK

# step 1
If you haven’t merged your prepared Instacart orders data with the new orders_products_prior dataframe per the instructions in this Exercise, do so now.

Done above

# step 2
Export the merged file in pickle format as “orders_products_combined.pkl”.

In [15]:
# export merged dataframe as pickle file

df_merged_large.to_pickle(os.path.join(path, '02 Data','Prepared Data', 'orders_products_combined.pkl'))