# import libraries and databases

In [1]:
import pandas as pd
import numpy as np
import os

In [20]:
path = r'/Users/alisoncoolidge/Desktop/092022 Instacart Basket Analysis'
df_all_ords_prods_merged = pd.read_pickle(os.path.join(path, '02 Data', 'Prepared Data', 'ALL_orders_products_merged.pkl'))

In [21]:
# checking header and shape

df_all_ords_prods_merged.head()

,Unnamed: 0.1,Unnamed: 0_x,order_id,user_id,order_number,order_day_of_week,order_hour_of_day,days_since_prior_order,product_id,add_to_cart_order,reordered,Unnamed: 0_y,product_name,aisle_id,department_id,prices,_merge
0,0,0,2539329,1,1,2,8,NaN,196,1,0,195,Soda,77,7,9.0,both
1,1,1,2398795,1,2,3,7,15.0,196,1,1,195,Soda,77,7,9.0,both
2,2,2,473747,1,3,3,12,21.0,196,1,1,195,Soda,77,7,9.0,both
3,3,3,2254736,1,4,4,7,29.0,196,1,1,195,Soda,77,7,9.0,both
4,4,4,431534,1,5,4,15,28.0,196,1,1,195,Soda,77,7,9.0,both

In [22]:
df_all_ords_prods_merged.shape

(32404859, 17)

In [24]:
# creating smaller subset to work with for exercise 

df = df_all_ords_prods_merged[:1000000]

In [25]:
# checking header and shape of subset

df.head()

,Unnamed: 0.1,Unnamed: 0_x,order_id,user_id,order_number,order_day_of_week,order_hour_of_day,days_since_prior_order,product_id,add_to_cart_order,reordered,Unnamed: 0_y,product_name,aisle_id,department_id,prices,_merge
0,0,0,2539329,1,1,2,8,NaN,196,1,0,195,Soda,77,7,9.0,both
1,1,1,2398795,1,2,3,7,15.0,196,1,1,195,Soda,77,7,9.0,both
2,2,2,473747,1,3,3,12,21.0,196,1,1,195,Soda,77,7,9.0,both
3,3,3,2254736,1,4,4,7,29.0,196,1,1,195,Soda,77,7,9.0,both
4,4,4,431534,1,5,4,15,28.0,196,1,1,195,Soda,77,7,9.0,both

In [26]:
df.shape

(1000000, 17)

In [27]:
# defining function

def price_label(row):

  if row['prices'] <= 5:
    return 'Low-range product'
  elif (row['prices'] > 5) and (row['prices'] <= 15):
    return 'Mid-range product'
  elif row['prices'] > 15:
    return 'High range'
  else: return 'Not enough data'

In [28]:
# testing function

df['price_range'] = df.apply(price_label, axis=1)

/var/folders/10/8hf3p2hn5ms0jf4674zk04vm0000gn/T/ipykernel_24472/2282078763.py:3: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df['price_range'] = df.apply(price_label, axis=1)

In [29]:
df['price_range'].value_counts(dropna = False)

Mid-range product    756450
Low-range product    243550
Name: price_range, dtype: int64

In [30]:
# checking most expensive product in subset

df['prices'].max()

14.8

In [ ]:
# using the loc() function

In [34]:
df.loc[df['prices'] > 15, 'price_range_loc'] = 'High-range product'

In [35]:
df.loc[(df['prices'] <= 15) & (df['prices'] > 5), 'price_range_loc'] = 'Mid-range product'

In [36]:
df.loc[df['prices'] <= 5, 'price_range_loc'] = 'Low-range product'

In [37]:
df['price_range_loc'].value_counts(dropna = False)

Mid-range product    756450
Low-range product    243550
Name: price_range_loc, dtype: int64

In [ ]:
# applying loc() to full dataframe

In [40]:
df_all_ords_prods_merged.loc[df_all_ords_prods_merged['prices'] > 15, 'price_range_loc'] = 'High-range product'

In [44]:
df_all_ords_prods_merged.loc[(df_all_ords_prods_merged['prices'] <= 15) & (df_all_ords_prods_merged['prices'] > 5), 'price_range_loc'] = 'Mid-range product'

In [42]:
df_all_ords_prods_merged.loc[df_all_ords_prods_merged['prices'] <= 5, 'price_range_loc'] = 'Low-range product'

In [45]:
df_all_ords_prods_merged['price_range_loc'].value_counts(dropna = False)

Mid-range product     21860860
Low-range product     10126321
High-range product      417678
Name: price_range_loc, dtype: int64

In [49]:
# creating a for loop

result = []

In [51]:
for value in df_all_ords_prods_merged["order_day_of_week"]:
  if value == 0:
    result.append("Busiest day")
  elif value == 4:
    result.append("Least busy")
  else:
    result.append("Regularly busy")

In [53]:
# creating a new column for busiest day values

df_all_ords_prods_merged['busiest_day'] = result

In [54]:
# checking results
df_all_ords_prods_merged['busiest_day'].value_counts(dropna = False)

Regularly busy    22416875
Busiest day        6204182
Least busy         3783802
Name: busiest_day, dtype: int64

In [56]:
#checking length

len(result)

32404859

In [57]:
df_all_ords_prods_merged.shape

(32404859, 19)

# TASK 4.7

# step 1
If you haven’t done so already, complete the instructions in the Exercise for creating the “price_label” and “busiest_day” columns.

DONE

# step 2
Suppose your clients have changed their minds about the labels you created in your “busiest_day” column. Now, they want “Busiest day” to become “Busiest days” (plural). This label should correspond with the two busiest days of the week as opposed to the single busiest day. At the same time, they’d also like to know the two slowest days. Create a new column for this using a suitable method.

In [58]:
# first need to figure out which days are the busiest so we know which labels to assign to each day

busy_day_counts = df_all_ords_prods_merged['order_day_of_week'].value_counts(dropna = False)

In [59]:
busy_day_counts

0    6204182
1    5660230
6    4496490
2    4213830
5    4205791
3    3840534
4    3783802
Name: order_day_of_week, dtype: int64

In [ ]:
# and now relabeling with the for loop

In [61]:
result_2 = []

In [62]:
for value in df_all_ords_prods_merged["order_day_of_week"]:
  if value == 0 or value == 1:
    result_2.append("Busiest days")
  elif value == 4 or value == 3:
    result_2.append("Least busy")
  else:
    result_2.append("Regularly busy")

In [63]:
# and now creating a new column for busiest dayS

df_all_ords_prods_merged['busiest_days'] = result_2

# step 3
Check the values of this new column for accuracy. Note any observations in markdown format.

Looks good.

In [64]:
# checking results, length, and shape

df_all_ords_prods_merged['busiest_days'].value_counts(dropna = False)

Regularly busy    12916111
Busiest days      11864412
Least busy         7624336
Name: busiest_days, dtype: int64

In [65]:
len(result_2)

32404859

In [66]:
df_all_ords_prods_merged.shape

(32404859, 20)

# step 4

When too many users make Instacart orders at the same time, the app freezes. The senior technical officer at Instacart wants you to identify the busiest hours of the day. Rather than by hour, they want periods of time labeled “Most orders,” “Average orders,” and “Fewest orders.” Create a new column containing these labels called “busiest_period_of_day.”

In [68]:
busiest_hour_counts = df_all_ords_prods_merged['order_hour_of_day'].value_counts(dropna = False)

In [69]:
busiest_hour_counts

10    2761760
11    2736140
14    2689136
15    2662144
13    2660954
12    2618532
16    2535202
9     2454203
17    2087654
8     1718118
18    1636502
19    1258305
20     976156
7      891054
21     795637
22     634225
23     402316
6      290493
0      218769
1      115700
5       87961
2       69375
4       53242
3       51281
Name: order_hour_of_day, dtype: int64

Most Orders

10    2761760
11    2736140
14    2689136
15    2662144
13    2660954
12    2618532
16    2535202
9     2454203

Average Orders

17    2087654
8     1718118
18    1636502
19    1258305
20     976156
7      891054
21     795637
22     634225

Fewest Orders

23     402316
6      290493
0      218769
1      115700
5       87961
2       69375
4       53242
3       51281

In [70]:
# creating the for loop

result_3 = []

In [71]:
for value in df_all_ords_prods_merged["order_hour_of_day"]:
  if value == 10 or value == 11 or value == 14 or value == 15 or value == 13 or value == 12 or value == 16 or value == 9:
    result_3.append("Most Orders")
  elif value == 17 or value == 8 or value == 18 or value == 19 or value == 20 or value == 7 or value == 21 or value == 22:
    result_3.append("Average Orders")
  else:
    result_3.append("Fewest Orders")

In [ ]:
# creating the new column

In [72]:
df_all_ords_prods_merged['busiest_period_of_day'] = result_3

# step 5
Print the frequency for this new column.

In [74]:
# checking results. Frequency:

df_all_ords_prods_merged['busiest_period_of_day'].value_counts(dropna = False)

Most Orders       21118071
Average Orders     9997651
Fewest Orders      1289137
Name: busiest_period_of_day, dtype: int64

In [75]:
len(df_all_ords_prods_merged['busiest_period_of_day'])

32404859

In [76]:
df_all_ords_prods_merged.shape

(32404859, 21)

# step 6
Ensure your notebook is clean and structured and that your code is well commented.

Good to go.

# step 7
Export your dataframe as a pickle file (since you added new columns) and store it correctly in your “Prepared Data” folder.

In [77]:
# exporting dataframe

df_all_ords_prods_merged.to_pickle(os.path.join(path, '02 Data','Prepared Data', 'orders_products_merged_task7.pkl'))